@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Outfit&display=swap');

h1 {
    font-family: 'Open Sans', sans-serif;
}
p {
    font-family: 'Open Sans', sans-serif;
}
.titletext {
    font-size: 500%;
}
a {
    font-family: 'Open Sans', sans-serif;
    color: darkred;
}
body {
    background-color: #545454;
}
div {
    font-family: 'Open Sans', sans-serif;
}

#wrapper {
    overflow-x: auto;
}
#parent {
    width: 100%;
    height: 90px;
    white-space: nowrap;
    overflow-x: auto;
}
.child {
    display: inline-block;
}
